/* Dashboard */
#dashboard-view header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

#dashboard-view main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    background-color: var(--light-background);
    border-radius: 8px;
    padding: 1.5rem;
    flex-basis: calc(50% - 0.5rem);
    box-sizing: border-box;
    border: 1px solid var(--border-color);
}

.card.full-width {
    flex-basis: 100%;
}

.card h2, .card h3 {
    margin-top: 0;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.5rem;
    color: var(--primary-green);
}

.card p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0 0;
    color: var(--text-color);
}

.card ul, .card ol {
    list-style: none;
    padding: 0;
}

.card li {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--border-color);
}

.card li:last-child {
    border-bottom: none;
}

#leaderboard-list li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--border-color);
}

#leaderboard-list li:last-child {
    border-bottom: none;
}

button.lang-button {
    width: auto;
    padding: 0.25rem 0.25rem;
    margin-left: 0.25rem;
}

.lang-button.active {
    background-color: #33ff66;
    box-shadow: 0 0 10px rgba(0, 255, 65, 0.7);
    color: white;
}

/* Leaderboard Navigation */
#leaderboard-view header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.leaderboard-nav {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-grow: 1;
    justify-content: center;
}

.leaderboard-nav-btn {
    width: auto; /* Override button.css width: 100% */
    padding: 0.5rem 1rem;
}

.leaderboard-nav-btn.active {
    background-color: #33ff66;
    box-shadow: 0 0 10px rgba(0, 255, 65, 0.7);
    color: white;
}
