/* Starfield Canvas */

#starfield-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind all other content */
    background-color: #121212; /* Ensure the background is dark */
}
