# Backend Server Configuration
# ============================

# IMPORTANT: This is an example file. Copy this to a new file named .env
# and fill in your own secret values.
# The .env file is ignored by Git and should NOT be committed.

# A secret key for signing JWTs.
# You can generate a new one with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=
# The port the server will run on.
PORT=

ALLOWED_ORIGINS=
